.App {
  background-color: #FFF;
  padding: 5px;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, .2);
  border-radius: 10px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
