.Book {
  &__li {
    @include card-defaults;
    // border-radius: 7px;
    padding: 0;
  }

  &__h3 {
    margin: 0;
    height: 5em;
    text-align: center;
    color: map-get($colors, 'primary-1');
    // background-color: map-get($colors, 'primary-9');

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: map-get($colors, 'primary-9');

    & > * {
      @include action-defaults;
      justify-content: space-around;
    }

    & .Book__a_open {
      width: map-get($actions, 'item-width');
      border-radius: map-get($actions, 'item-height') / 2;

      text-decoration: none;
      background-color: map-get($actions, 'primary-background-color');
      color: map-get($actions, 'primary-text-color');
      margin-bottom: 10px;
    }

    & .Book__button_edit {
      width: map-get($actions, 'item-width');
      border-radius: map-get($actions, 'item-height') / 2;

      background-color: map-get($actions, 'secondary-background-color');
      color: map-get($actions, 'secondary-text-color');
      margin-bottom: 10px;
    }

    & .Book__button_delete {
      width: map-get($actions, 'item-width');
      border-radius: map-get($actions, 'item-height') / 2;

      background-color: map-get($colors, 'primary-9');
      border: 1px solid red;
      color: red;
      margin-bottom: 10px;
    }
  }
}
