.edit-default {
  display: block;
  height: 100%;
  width: 80%;

  border: 1px solid map-get($colors, 'primary-2');
  border-top-left-radius: map-get($actions, 'item-height') / 2;
  border-bottom-left-radius: map-get($actions, 'item-height') / 2;

  background-color: map-get($actions, 'secondary-background-color');
  color: map-get($actions, 'secondary-text-color');
}

button.edit-options {
  display: block;
  height: 100%;
  width: 20%;

  border: 1px solid map-get($colors, 'primary-2');
  border-top-right-radius: map-get($actions, 'item-height') / 2;
  border-bottom-right-radius: map-get($actions, 'item-height') / 2;

  background-color: map-get($actions, 'secondary-background-color');
  color: map-get($actions, 'secondary-text-color');
}
