$viewport-width: 100vw;
$viewport-width-80: (4 / 5) * $viewport-width;
$viewport-width-65: (13 / 20) * $viewport-width;

@keyframes show {
  0% { transform: scale(0); box-shadow: 0 0px 0px hsla(0, 0%, .2); }
  75% { transform: scale(1.2); box-shadow: 0 2px 8px hsla(0, 0%, .2); }
  100% { transform: scale(1); box-shadow: 0 1px 5px hsla(0, 0%, .2); }
}

@keyframes hide {
  0% { transform: scale(1); box-shadow: 0 1px 5px hsla(0, 0%, .2); }
  100% { transform: scale(0); box-shadow: 0 0px 0px hsla(0, 0%, .2); }
}

.book-edit-inactive {
  animation-name: hide;
  animation-duration: .3s;
  animation-fill-mode: forwards;

  // width: 0px;
  // height: 0px;
  overflow: hidden;

  background-color: #FFF;
  border-radius: 5px;
  position: fixed;
  top: 45%;
  left: min(10%, 350px);
  right: min(10%, 350px);
}

.book-edit-active {
  animation-name: show;
  animation-duration: .6s;
  animation-fill-mode: forwards;

  width: 80vw;
  background-color: #FFF;
  border-radius: 5px;
  position: fixed;
  top: 45%;
  // left: min(10%, 350px);
  // left: 50%;
  margin-left: auto;
  margin-right: auto;
  // right: min(10%, 350px);
  z-index: 999;
}
