.form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;

  padding: 10px;

  & .input-one {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    input {
      @include input-defaults;
    }
  }

  & .input-two {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    input {
      @include input-defaults;
    }
  }

  &-actions-wrapper {
    display: flex;
    justify-content: flex-end;

    & .button-action-secondary {
      margin-right: 15px;
    }
  }

  label {
    margin-bottom: 10px;
  }
}
