header {
  grid-area: header;
}

header ul {
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* background-color: #00af8f; */
  background-color: #AE7D0A;
  list-style: none; /* removes bullets */
  padding: .5em;
  margin: 0;
}

header ul li {
  margin: 0 0.5em;
}

header ul li.logo {
  margin-right: auto;
}

/*
.hamburger {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

header ul li.hamburger {
  margin: 0;
}

header ul li.hamburger img {
  width: 23px;
  height: 23px;
}
