header {
  grid-area: header;
  background-color: map-get($colors, 'primary-3');
  // border-radius: 5px;
  margin: 0px;
}

header ul {
  display: flex;
  align-items: center;
  /* background-color: #00af8f; */
  list-style: none; /* removes bullets */
  padding: .5em;
  margin: 0;
}

header ul li {
  margin: 0 0.5em;
}

header ul li.logo {
  margin-right: auto;
}

header ul li a {
  text-decoration: none;
  color: #FFF;

  &:focus {
    text-decoration: underline;
    font-weight: bold;
  }
}

/*
.hamburger {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

header ul li.hamburger {
  margin: 0;
}

/*
header ul li.hamburger img {
  width: 23px;
  height: 23px;
}
*/
