.accordion-content {
  overflow: hidden;
  padding-left: 6px;
  border-left: 1px dashed;

  transition: height .4s;
}

.accordion-chevron {
  transition: transform .4s;
}
.accordion-chevron.active {
  transform: rotate(180deg);
}
